name: Python Unit Tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install poetry
        poetry install --with dev --no-root
    - name: Test with pytest - ${{ matrix.python-version }}
      run: |
        OPENRELIK_SERVER_SETTINGS=./settings_example.toml poetry run pytest --cov=. --cov-config=./.coveragerc -vD